div.description-bkg {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

div.description-boundary {
    display: flex;
    flex-direction: row;

    width: 80%;
    max-width: 1000px;
    min-width: 100px;

    background-color: var(--bkgDescription);
    border: 0.5vw solid black;
    border-radius: 1vw;
    padding: 0.5vw;
}

div.card-image-box {
    aspect-ratio: 740 / 469;
    width: 50%;
    height: min-content;
    justify-content: center;
}

img.card-image {
    width: 100%;
    object-fit: cover
}

div.description-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3vh;
    flex-grow: 1;
}

label.card-name {
    font-size: calc(1rem + 1.5vw);
    width: 100%;
    text-align: center;
}

label.card-description {
    font-size: calc(0.75rem + 0.8vw);
    width: 100%;
    text-wrap: wrap;
    text-align: left;
}

label.close-tooltip {
    font-size: calc(0.5rem + 0.8vw);
    color: rgb(216, 216, 216);
    margin-top: auto;
}