:root {
  --bkgWindow: #282c34;
  --highlight: rgb(125, 226, 138);
  --bkgDescription: rgb(10, 121, 53);
  --bkgButton:  rgb(89, 53, 247);
}

.App {
  text-align: center;
  background-color: var(--bkgWindow);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
